body {
  margin: 0;
  padding: 0;
  background-color: #e5eaf0;
}
.box {
  border: dotted 1px red;
  width: 336px;
  height: 152px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 10px;
}
.upper-section {
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
}
.lower-section {
  padding-bottom: 20px;
  padding-left: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container01 {
  width: 368px;
  height: 246px;
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  margin-left: 164px;
}
#container {
  background-color: white;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
}
.design {
  margin-left: 16px;
  margin-top: 16px;
  width: 80px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
  background: #e6d6fc;
  color: #883ae1;
  font-size: 17px;
  font-weight: bold;
}
.text-section {
  margin-left: 16px;
  margin-top: 16px;
}
.text-section h1 {
  margin-top: 16px;
}
.text-section p {
  margin-top: 6px;
  padding-bottom: 20px;
}
