body {
  margin: 0;
  padding: 0;
  background-color: #fafaf9;
}
.container {
  /* border: solid 2px red; */
  margin-top: 164px;
  margin-left: 164px;
  width: 368px;
  height: 246px;
}
.upper-section {
  border: solid 1px red;
  position: relative;
}
.lower-section {
  border: solid 1px green;
}
img {
  align-items: center;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 336px;
  height: 152px;
  border-radius: 10px;
}
.design {
  position: absolute;
  top: 84px;
}
.text-section {
  position: absolute;
  top: 100px;
}
